:host{
  height:100%;
}

.plugins-grid-container{
  width:100%;
  height:100%;
  box-sizing: border-box;
}
.gridster-item-content {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  /* height: calc(100% - 30px); */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

}

.gridster-item-container{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  border-radius: 10px;
}

.widget-title{
  width:100%;
  height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
  background-color: rgb(119,161,215);
}

.widget-title-text{
  color:white;
  font-weight: bold;
  padding:5px;
}

.gridster-item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.widget-title {
  height: 30px;
  flex: 0 0 30px;
}

.gridster-item-content {
  flex: 1 1 auto;
  height: 100% !important;
  min-height: 0 !important;

  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin: 0 !important;
}

